@page "/categories"
@using ConsiderBorrow.Shared.Models.Categories;
@inject ICategoryFacade CategoryFacade
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Categories</PageTitle>

@if (categories is null)
{
    <div class="h-100 d-flex justify-center align-center">
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    </div>
}
else if (categories.Count == 0)
{
    <div class="h-100 d-flex justify-center align-center">
        <div class="d-flex flex-column justify-center">
            <MudText Typo="Typo.h4" Class="mb-4">No Categories To Display</MudText>
            <MudButton OnClick="CreateNewCategory" Color="Color.Secondary" Variant="Variant.Outlined">Add New</MudButton>
        </div>
    </div>
}
else
{
    <div class="pa-12">
        <div class="mb-6">
            <MudButton OnClick="CreateNewCategory" Color="Color.Secondary" Variant="Variant.Outlined">Add New</MudButton>
        </div>

        <MudSimpleTable>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var category in categories)
                {
                    <tr>
                        <td>
                            @category.Id
                        </td>

                        <td>
                            <div class="d-flex justify-space-between align-center">
                                @category.Name
                                <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete" OnClick="() => DeleteCategory(category)" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {
    private List<CategoryResponse>? categories;

    protected override async Task OnInitializedAsync()
    {
        var existingCategories = await CategoryFacade.GetCategoriesAsync();
        categories = new List<CategoryResponse>(existingCategories);
    }

    private async Task CreateNewCategory()
    {
        var dialogResult = await DialogService.Show<CreateCategoryDialog>("Create Category").Result;
        if (dialogResult.Canceled || dialogResult.Data is null)
            return;

        categories!.Add((CategoryResponse)dialogResult.Data);
    }

    private async Task DeleteCategory(CategoryResponse category)
    {
        var result = await CategoryFacade.DeleteCategoryAsync(category.Id);
        if (!result.Succeeded)
        {
            Snackbar.Add(string.Join(", ", result.Messages), Severity.Error);
            return;
        }

        Snackbar.Add("Deleted Category", Severity.Success);
        categories!.Remove(category);
    }
}
